.border {
    border-color: rgb(143, 246, 41) rgb(224, 178, 50) rgb(183, 48, 111) rgb(3, 233, 3);
    border-style: groove solid dashed dotted;
    border-width: 10px;
}

.html {
    border: red double 5px;
}

.css {
    border: dashed darkblue 5px;
}

.javascript {
    border: fuchsia groove 5px;
}


.img {
    height: 500px ;
    background-image: url(../img/space.jpg);
    background-size: cover;
}
.task {
    height: 300px;
    background: linear-gradient(#DAFFFB, #64CCC5);

}

.home {
    color: rgb(3, 76, 76);
   
}

.contact {
    color: blue;
    

}

.about {
    color: rgb(88, 95, 10);
   

}
.shape{
    height: 50px;
    border: solid gray;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    background-color: gray;
}
