body{
    font-family: 'Cairo', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.all{
    border: solid 5px;
}
.link{
    margin: 20px;
}
.float::after{
    content: "";
    display: block;
    clear: both;

}
a{
    float: left;
    margin: 10px;
}